<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wegrow.wegrow.mapper.UserMapper">
  <resultMap id="BaseResultMap" type="com.wegrow.wegrow.model.User">
    <id column="ID" jdbcType="INTEGER" property="id" />
    <result column="EMAIL" jdbcType="VARCHAR" property="email" />
    <result column="USERNAME" jdbcType="VARCHAR" property="username" />
    <result column="ABOUT_ME" jdbcType="VARCHAR" property="aboutMe" />
    <result column="LAST_SEEN" jdbcType="TIMESTAMP" property="lastSeen" />
    <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime" />
    <result column="UPDATE_TIME" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="AVATAR_HASH" jdbcType="VARCHAR" property="avatarHash" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    ID, EMAIL, USERNAME, ABOUT_ME, LAST_SEEN, CREATE_TIME, UPDATE_TIME, AVATAR_HASH
  </sql>
  <select id="selectByExample" parameterType="com.wegrow.wegrow.model.UserExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from USER
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from USER
    where ID = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from USER
    where ID = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.wegrow.wegrow.model.UserExample">
    delete from USER
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.wegrow.wegrow.model.User">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into USER (EMAIL, USERNAME, ABOUT_ME, 
      LAST_SEEN, CREATE_TIME, UPDATE_TIME, 
      AVATAR_HASH)
    values (#{email,jdbcType=VARCHAR}, #{username,jdbcType=VARCHAR}, #{aboutMe,jdbcType=VARCHAR}, 
      #{lastSeen,jdbcType=TIMESTAMP}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, 
      #{avatarHash,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.wegrow.wegrow.model.User">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into USER
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="email != null">
        EMAIL,
      </if>
      <if test="username != null">
        USERNAME,
      </if>
      <if test="aboutMe != null">
        ABOUT_ME,
      </if>
      <if test="lastSeen != null">
        LAST_SEEN,
      </if>
      <if test="createTime != null">
        CREATE_TIME,
      </if>
      <if test="updateTime != null">
        UPDATE_TIME,
      </if>
      <if test="avatarHash != null">
        AVATAR_HASH,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="email != null">
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="username != null">
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="aboutMe != null">
        #{aboutMe,jdbcType=VARCHAR},
      </if>
      <if test="lastSeen != null">
        #{lastSeen,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="avatarHash != null">
        #{avatarHash,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.wegrow.wegrow.model.UserExample" resultType="java.lang.Long">
    select count(*) from USER
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update USER
    <set>
      <if test="record.id != null">
        ID = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.email != null">
        EMAIL = #{record.email,jdbcType=VARCHAR},
      </if>
      <if test="record.username != null">
        USERNAME = #{record.username,jdbcType=VARCHAR},
      </if>
      <if test="record.aboutMe != null">
        ABOUT_ME = #{record.aboutMe,jdbcType=VARCHAR},
      </if>
      <if test="record.lastSeen != null">
        LAST_SEEN = #{record.lastSeen,jdbcType=TIMESTAMP},
      </if>
      <if test="record.createTime != null">
        CREATE_TIME = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateTime != null">
        UPDATE_TIME = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.avatarHash != null">
        AVATAR_HASH = #{record.avatarHash,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update USER
    set ID = #{record.id,jdbcType=INTEGER},
      EMAIL = #{record.email,jdbcType=VARCHAR},
      USERNAME = #{record.username,jdbcType=VARCHAR},
      ABOUT_ME = #{record.aboutMe,jdbcType=VARCHAR},
      LAST_SEEN = #{record.lastSeen,jdbcType=TIMESTAMP},
      CREATE_TIME = #{record.createTime,jdbcType=TIMESTAMP},
      UPDATE_TIME = #{record.updateTime,jdbcType=TIMESTAMP},
      AVATAR_HASH = #{record.avatarHash,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.wegrow.wegrow.model.User">
    update USER
    <set>
      <if test="email != null">
        EMAIL = #{email,jdbcType=VARCHAR},
      </if>
      <if test="username != null">
        USERNAME = #{username,jdbcType=VARCHAR},
      </if>
      <if test="aboutMe != null">
        ABOUT_ME = #{aboutMe,jdbcType=VARCHAR},
      </if>
      <if test="lastSeen != null">
        LAST_SEEN = #{lastSeen,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null">
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="avatarHash != null">
        AVATAR_HASH = #{avatarHash,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.wegrow.wegrow.model.User">
    update USER
    set EMAIL = #{email,jdbcType=VARCHAR},
      USERNAME = #{username,jdbcType=VARCHAR},
      ABOUT_ME = #{aboutMe,jdbcType=VARCHAR},
      LAST_SEEN = #{lastSeen,jdbcType=TIMESTAMP},
      CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
      AVATAR_HASH = #{avatarHash,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=INTEGER}
  </update>
</mapper>