server:
  port: 8082
spring:
  datasource:
    url: jdbc:mysql://192.168.124.15:30001/WEGROW?useUnicode=true&characterEncoding=utf-8&serverTimezone=Asia/Shanghai
    username: root
    password: sj@123456
  thymeleaf:
    cache: true
  devtools:
    restart:
      enabled: true
  # 指定 spring security 默认的登陆用户与密码
  security:
    user:
      name: user
      password: 123456
  profiles:
    active: dev
  application:
    name: wegrow-demo

